packer_compiled.lua
.luarc.json
.aider*
.opencode
.zshrc.local
.gitconfig
__pycache__/
.config/gtk-3.0
.config/eww
.config/leftwm/themes/*
!.config/leftwm/themes/ignorant/
!.config/leftwm/themes/ignorant/**
